.container {
    width: 100%;
    min-height: 100vh;
    height: 100%;

    background-color: #1c1c1c1c;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    gap: 1rem;

    .title {
        display: inline-block;
        border-bottom: 1px solid #0004;
    }

    .btn {
        display: flex;
        gap: 1rem;
    }
}